@import "tailwindcss";

:root {
  --background: #0e0e12;
  --foreground: #f8f7ff;
  --surface: #1a191f;
  --primary: #c6c2ee;
  --on-surface: #ffffff;
  --secondary: #95929d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-on-surface: var(--on-surface);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
